header{
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: 25% ;
}

main{
    margin-bottom: 40px;
}
#logo{
    width: 200px;
    padding-left: 10px;
    padding-top: 30px;
}
body{
    width: 1100px;
}

/* titolo */
h1{
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 1000px;

}
h4{
    color: rgb(125, 125, 125);
    margin: 0px;
    
}
#data-articolo{
    color: rgb(125, 125, 125);
    font-size: 12px;
    margin-top: 0px;
}

.fonti-foto{
    margin-top: 0px;
    font-size: smaller;
}

/* elenco puntato */
ul{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15px;
}

/* tabella */
table{
    border-spacing: 0px;
}
th{
    text-align: left;
    width: 300px;
}
td{
    text-align: left;
}
.intestazione{
    color: white;
    background-color: rgb(32,169,229);

}

.riga-colorata{
    background-color: rgb(177,229,242);
}

#ultima-colonna{
    width: 700px;
}

.img-footer{
    margin-top: 15px;
    position: relative;
    color: white;

}
.over-text{
    position:absolute;
    top: 4px;
    left: 4px;

}
/*     width: 200px;
    height: 200px; */